<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
			<link rel="stylesheet" type="text/css" href="/css/noticias.css">
		</head>
	<body>

		<h1>Adicionar notícia</h1>

	</body>
</html>