<!DOCTYPE html>
<html>
    <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <link rel="stylesheet" type="text/css" href="/views/secao/index.css" media="screen"/>
    </head>
<!-------------------->
    <body>
        <div>
            <h1>Index Página</h1>
        </div>
    </body>
</html>