<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Feira Do Automóvel</title>
<link rel="stylesheet" type="text/css" href="/views/secao/index.css">
</head>

<body>
<div class="divunica">

    <header>
      <div class="divheaderprincipal">
      <div class="divheadermenu">
          <nav id="menu">
              <ul type="disc">
              	<li><a class="removerlink" href="#"> Home </a></li>
                <li><a class="removerlink" href="#"> Novos </a></li>
                 <li><a class="removerlink" href="#"> Semi Novos</a></li>
                  <li><a class="removerlink" href="#"> Login</a></li>
                   <li><a class="removerlink" href="#"> Registrar</a></li>
                     <li><a class="removerlink" href="#"> Ofertas Quentes</a></li>
              </ul>
      	  </nav>
      </div>
      	<div class="divheaderinicio">
        <p class="fontetitulosite"> Melhor site automotivo do tocantins</p>
      </div>
      </div>
    </header>
    <!-- Já chega de escrever no header -->
    <div class="divmiddle">
            <div class="imagemconteiner">
             <div>
                <img class="imagem" src="../imagens/shadow.jpg"/>
    </div>
    </div>

    </div>
    
	<footer>
    	<!--<div class="divfooterunica">
        
        </div>
        -->
    </footer>
    
</div>
</body>
</html>
